.card-header, .card-body {
    padding: 0.375rem 0.75rem;
}

.card-header {
    text-align: center;
}

.card-body > ul {
    margin-bottom: 0;
}

.form-control {
    padding: 0.150rem 0.375rem;
    height: calc(1.5em + 0.375rem + 2px);
}

.form-group {
    margin-bottom: 0.55rem;
}

.form-group > label {
    font-size: 14px;
}

